### Gradle ###
.gradle
bin/
build/
.settings
.classpath
.project
.idea
cache/
.cache-main

web/logs/application.log 

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

build.sh
