
### Gradle ###
.gradle
bin/
build/
.settings
.vagrant
.classpath
.project
feedback/velocity.log
feedback/velocity.log.1
cache/
.cache-main

docker-compose.override.yml
web/logs/application.log 

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
