@(webJarAssets: WebJarAssets, id: String, file: String, outputFormat: OutputFormat)

@clientConfig() = @{
	play.Play.application().configuration()
		.getConfig(play.Play.application().configuration().getString("download.client"))
}

@metadataUrl() = @{
	play.Play.application().configuration().getString("metadata.url") + id + ".xml"
}

@layout("Download bestand", webJarAssets, routes.Assets.at("javascripts/feedback.js").url) {

	<p class="title">@file</p>
	
	<div class="info">
		<p>Je download verzoek is in goede orde ontvangen. De download wordt nu voor je klaargezet.</p> <br/>
		
		<p>
			<b>Het bestand is:</b> <span>@file</span><br/>
			<b>Het formaat is:</b> <span>@outputFormat.title</span><br/>
		</p> <br/>

		<p>Wanneer de data klaar staat krijg je hieronder de download link te zien. <br/>
		Mocht de data niet opgehaald kunnen worden dan krijg je dit ook te zien. <br/>
		Je kunt deze pagina sluiten en later weer openen. De data wordt 24 uur bewaard
		om gedownload te worden.</p> <br/>
	</div>
	<div id="feedback-container">
		<p id="js-feedback"></p>
	</div>
	
	<div id="footer">
		<p>De volledige <a target="_blank" href="@metadataUrl()">metainformatie van dit bestand kunt u hier</a> vinden.</p>
		@Html(clientConfig().getString("portal.intro"))
		@Html(clientConfig().getString("portal.maps.current"))
		@Html(clientConfig().getString("portal.maps.old"))
		@Html(clientConfig().getString("opendata"))
		@Html(clientConfig().getString("suggestions"))
		@Html(clientConfig().getString("proclaimer"))
	</div>
	
	<input id="js-request-id" type="hidden" data-request-id="@id" />
}