@(webJarAssets: WebJarAssets, file: String, outputFormat: OutputFormat, email: String)

@layout(webJarAssets) {

	<p class="title">@file</p>
	
	<div class="info">
		<p>Je download verzoek is in goede orde ontvangen. De download wordt nu voor je klaargezet.</p> <br>
		
		<p>
			<b>Het bestand is:</b> <span>@file</span><br>
			<b>Het formaat is:</b> <span>@outputFormat.title</span><br>
			<b>E-mail adres is:</b> <span>@email</span>
		</p> <br>

		<p>Je krijgt zo snel mogelijk een e-mail met een download-link.<br>
		
		Via deze link kun je de download van het bestand uitvoeren. <br> <br>
		Deze link blijft 24 uur bruikbaar.<br>
		Je kunt nu dit scherm sluiten.</p> <br>
	</div>
	
	<div id="footer">
		<p>Deze gegevens worden beschikbaar gesteld door het Geoportaal van Overijssel: 
			<a target="_blank" href="http://www.geoportaaloverijssel.nl">http://www.geoportaaloverijssel.nl</a>
		</p>
		<p>In het Geoportaal staan actuele kaarten en beschrijvingen van die kaarten.</p>
		<p>Ter referentie zijn vaak ook nog oudere kaarten beschikbaar gesteld.</p>
		<p>De provincie Overijssel stelt zoveel mogelijk kaarten als "open data" voor iedereen beschikbaar.</p>
		<p>Heeft u suggesties of vragen? Stuur dan een email naar <a href="mailto:beleidsinformatie@@overijssel.nl">beleidsinformatie@@overijssel.nl</a></p>
		<p>Zie proclaimer: 
			<a target="_blank" href="http://www.overijssel.nl/algemene-onderdelen/proclaimer">http://www.overijssel.nl/algemene-onderdelen/proclaimer</a>
		</p>
	</div>
	
}