@(webJarAssets: WebJarAssets, id: String, file: String, outputFormat: OutputFormat, email: String)

@metadataUrl() = @{
	play.Play.application().configuration().getString("metadata.url") + id + ".xml"
}

@layout(webJarAssets) {

	<p class="title">@file</p>
	
	<div class="info">
		<p>Je download verzoek is in goede orde ontvangen. De download wordt nu voor je klaargezet.</p> <br>
		
		<p>
			<b>Het bestand is:</b> <span>@file</span><br>
			<b>Het formaat is:</b> <span>@outputFormat.title</span><br>
			<b>E-mail adres is:</b> <span>@email</span>
		</p> <br>

		<p>Je krijgt zo snel mogelijk een e-mail met een download-link.<br>
		
		Via deze link kun je de download van het bestand uitvoeren. <br> <br>
		Deze link blijft 24 uur bruikbaar.<br>
		Je kunt nu dit scherm sluiten.</p> <br>
	</div>
	
	<div id="footer">
		<p>De volledige <a target="_blank" href="@metadataUrl()">metainformatie van dit bestand kunt u hier</a> vinden.</p>
		<p>@play.Play.application().configuration().getString("download.footer.intro")
			<a target="_blank" href="@play.Play.application().configuration().getString("download.portal.url")">@play.Play.application().configuration().getString("download.portal.url")</a>
		</p>
		<p>In het Geoportaal staan actuele kaarten en beschrijvingen van die kaarten.</p>
		<p>Ter referentie zijn vaak ook nog oudere kaarten beschikbaar gesteld.</p>
		<p>@play.Play.application().configuration().getString("download.footer.availability")</p>
		<p>Heeft u suggesties of vragen? Stuur dan een email naar <a href="mailto:@play.Play.application().configuration().getString("download.email")">@play.Play.application().configuration().getString("download.email")</a></p>
		<p>Zie proclaimer: 
			<a target="_blank" href="@play.Play.application().configuration().getString("download.footer.proclaimer.url")">@play.Play.application().configuration().getString("download.footer.proclaimer.url")</a>
		</p>
	</div>
	
}