@(webJarAssets: WebJarAssets, id: String, info: DownloadInfo, form: Form[DownloadRequest])

@clientConfig() = @{
	play.Play.application().configuration()
		.getConfig(play.Play.application().configuration().getString("download.client"))
}

@metadataUrl() = @{
	play.Play.application().configuration().getString("metadata.url") + id + ".xml"
}

@fieldErrors(field: Form.Field) = {
	@for(error <- field.errors) {
		<div class="alert alert-danger">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			@Messages(error.message)
		</div>
	}
}

@simpleField(field: Form.Field, inputType: String, label: String, placeholder: String, title: String) = {
	<div class="form-group ">
		<label class="col-sm-2 control-label" for="@field.name">@label</label>
		<div class="col-sm-8">
			<input type="@inputType" id="@field.name" name="@field.name" value="@field.value" class="form-control" placeholder="@placeholder" title="@title">
			@fieldErrors(field)
		</div>
	</div>
}

@layout(webJarAssets) {
	<p class="title">@info.title</p>
	
	<div class="welcome">
		<p>Om dit bestand te downloaden vul je onderstaande velden in.</p>
		<p>Klik daarna op download.</p>
		<p>Je krijgt dan een download-link in de mailbox.</p>
	</div>
	
	@helper.form(action = routes.DownloadForm.post(id), 'class -> "form-horizontal") {
		@defining(form("format")) { formatField =>
			<div class="form-group format-choice">
				<label class="col-md-2 control-label">
					<span>Kies formaat</span>
				</label>
				<div class="col-md-8">
					<div class="checkbox">
						@for(outputFormat <- info.outputFormats) {
		 					<label>
								<input type="radio" name="format" value="@outputFormat.name()"
								 @if(formatField.value == outputFormat.name() || outputFormat.name() == "shp") { checked }>
									<span>
										<strong>@outputFormat.title</strong>
									</span>
							</label>
						}
					</div>
					@fieldErrors(formatField)
				</div>
	 		</div>
	 	}
	 	
	 	@simpleField(
	 		field = form("name"),
	 		inputType = "text", 
	 		label = "Naam",
	 		placeholder = "Naam",
	 		title = "Vul naam in")
	 	
	 	@simpleField(
	 		field = form("email"),
	 		inputType = "email", 
	 		label = "E-mailadres",
	 		placeholder = "E-mailadres",
	 		title = "Vul e-mailadres in")
 		
		<div class="form-group">
 			<div class="col-sm-offset-2 col-sm-10">
 				<button id="download-button" class="button" type="submit">Download</button>
 				<a href="@routes.DownloadForm.help()" class="button help-button">
 					Help
 				</a>
			</div>
		</div>
		
		<div id="footer">
			<p>De volledige <a target="_blank" href="@metadataUrl()">metainformatie van dit bestand kunt u hier</a> vinden.</p>
			@Html(clientConfig().getString("portal.intro"))
			@Html(clientConfig().getString("portal.maps.current"))
			@Html(clientConfig().getString("portal.maps.old"))
			@Html(clientConfig().getString("opendata"))
			@Html(clientConfig().getString("suggestions"))
			@Html(clientConfig().getString("proclaimer"))
		</div>
		
		<!-- Begin Nedstat Pro code v2.005f -->
		<script language="javascript" type="text/javascript">
			var t='http://m1.nedstatpro.net/nl/nedstatpro.gif?name=provinci18_3';
			t+='&v=2.005f&_t='+(new Date()).getTime();var d=document;var n=navigator;var r='';
			var f=0;if(top!=self){if('\u0041'=='A'){var u=n.userAgent;if(u.indexOf('Safari')==-1){
			var b=u.indexOf('Opera');if(b==-1||(u.charAt(b+6)+0)>5){b=u.indexOf('Mozilla');
			var v=b!=-1?u.charAt(b+8)>4:1;if(u.indexOf('compatible')!=-1||v){
			var c='try{r=top.document.referrer}catch(e){f=1}';eval(c)}}}}}else{r=d.referrer}
			if (f)t+='&foreignframe=1';else if(r)t+='&referrer='+escape(r);
			if(d.images){var m=new Image();m.src=t;}else
			d.write('<img src='+t+' width="1" height="1" align="right">');
		</script>
		<noscript>
			<img src="http://m1.nedstatpro.net/nl/nedstatpro.gif?name=provinci18_3" width="1" height="1" align="right" alt="" />
		</noscript>
		<!-- End Nedstat Pro code -->
	}
}