@(webJarAssets: WebJarAssets, id: String, info: DownloadInfo, form: Form[DownloadRequest])

@clientConfig() = @{
	play.Play.application().configuration()
		.getConfig(play.Play.application().configuration().getString("download.client"))
}

@metadataUrl() = @{
	play.Play.application().configuration().getString("metadata.url") + id + ".xml"
}

@displayStatsAnalytics() = @{
	play.Play.application().configuration().getString("display.stats.analytics") == "true"
}

@isInternal() = @{
	play.Play.application().configuration().getString("download.access") == "intern"
}

@fieldErrors(field: Form.Field) = {
	@for(error <- field.errors) {
		<div class="alert alert-danger">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			@Messages(error.message)
		</div>
	}
}

@simpleField(field: Form.Field, inputType: String, label: String, placeholder: String, title: String) = {
	<div class="form-group ">
		<label class="col-sm-2 control-label" for="@field.name">@label</label>
		<div class="col-sm-8">
			<input type="@inputType" id="@field.name" name="@field.name" value="@field.value" class="form-control" placeholder="@placeholder" title="@title">
			@fieldErrors(field)
		</div>
	</div>
}

@layout("Download bestand", webJarAssets, null) {
	<p class="title">@info.title</p>
	
	<div class="metadata-information">
		<img src=@info.browseGraphicUrl />
		<p>@info.description</p>
		<p id="metadata-link">De volledige <a target="_blank" href="@metadataUrl()">metainformatie van dit bestand kunt u hier</a> vinden.</p>
	</div>
	
	<div class="welcome">
		<p>Om dit bestand te downloaden kies het formaat. Klik daarna op download.</p>
		<p>Je krijgt dan een download-link in het volgende scherm te zien wanneer de data gereed staat.</p>
	</div>
	
	@helper.form(action = routes.DownloadForm.post(id), 'class -> "form-horizontal") {
		@defining(form("format")) { formatField =>
			<div class="form-group format-choice">
				<label class="col-md-2 control-label">
					<span>Kies formaat</span>
				</label>
				<div class="col-md-8">
					<div class="checkbox">
						@for(outputFormat <- info.outputFormats) {
		 					<label>
								<input type="radio" name="format" value="@outputFormat.name()"
								 @if(formatField.value == outputFormat.name() || outputFormat.name() == "shp") { checked }>
									<span>
										<strong>@outputFormat.title</strong>
									</span>
							</label>
						}
					</div>
					@fieldErrors(formatField)
				</div>
	 		</div>
	 	}
 		
		<div class="form-group">
 			<div class="col-sm-offset-2 col-sm-10">
 				<button id="download-button" class="button" type="submit">Download</button>
 				<a href="@routes.DownloadForm.help()" class="button help-button">
 					Help
 				</a>
			</div>
		</div>
		
		<div id="footer">
			@Html(clientConfig().getString("portal.intro"))
			@Html(clientConfig().getString("portal.maps.current"))
			@Html(clientConfig().getString("portal.maps.old"))
			@Html(clientConfig().getString("opendata"))
			@Html(clientConfig().getString("suggestions"))
			@Html(clientConfig().getString("proclaimer"))
		</div>
		
		@if(displayStatsAnalytics()) {
			@if(isInternal()) {
				<!-- Global site tag (gtag.js) - Google Analytics -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145662713-1"></script>
				<script>
					window.dataLayer = window.dataLayer || [];
					function gtag(){dataLayer.push(arguments);}
					gtag('js', new Date());
					gtag('config', 'UA-145662713-1');
				</script>
			} else {
				<!-- Global site tag (gtag.js) - Google Analytics -->
				<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132211138-1"></script>
				<script>
					window.dataLayer = window.dataLayer || [];
					function gtag(){dataLayer.push(arguments);}
					gtag('js', new Date());
					gtag('config', 'UA-132211138-1');
				</script>
			}
		}
	}
}