@(webJarAssets: WebJarAssets)

@layout(webJarAssets) {
	<p class="title">Gebruikershandleiding</p>
	
	<div class="welcome">
		<p>Een geldig e-mailadres is in het formaat gebruikersnaam@@voorbeeld. Er wordt gecontroleerd of er een @@ in staat en of daar voor en achter 
		tekst staat. Alle overige typefouten worden niet gecontroleerd.</p>
		
		<p class="help-paragraph">Bij de e-mail wordt een metadata-info bestand meegeleverd. Deze kan alleen in Internet Explorer en Firefox bekeken worden.</p>
	</div>
	
	<div id="footer">
		<p>De bestanden worden via het Geoportaal van Overijssel beschikbaar gesteld.</p>
		<p>De gegevens zijn gemaakt voor eigen (intern) gebruik door de provincie Overijssel.</p>
		<p>Zijn er suggesties of vragen, neem dan contact op met
			<a href="mailto:beleidsinformatie@@overijssel.nl">beleidsinformatie@@overijssel.nl</a>
		</p>
	</div>
}
