@(title: String, webJarsUtil: org.webjars.play.WebJarsUtil, config: com.typesafe.config.Config, jsUrl: String)(content: Html)

@clientConfig() = @{
	config.getConfig(config.getString("download.client"))
}

@displayStatsAnalytics() = @{
	config.getString("display.stats.analytics") == "true"
}

<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html" charset="utf-8">
		<title>@title</title>
		<link href='@webJarsUtil.locate("css/bootstrap.min.css").url.get' rel="stylesheet">
		<link href='@routes.Assets.at("stylesheets/form.css")' rel="stylesheet">
		@if("intern".equals(config.getString("download.access"))) {
			<link href='@routes.Assets.at("stylesheets/form-intern.css")' rel="stylesheet">
		}
		<script src="@webJarsUtil.locate("dojo/dojo.js").url.get" type="text/javascript"></script>
		<script src="@routes.DownloadForm.jsRoutes()" type="text/javascript"></script>
		@if(jsUrl != null) {
			<script src="@jsUrl" type="text/javascript"></script>
		}
	</head>
	<body class='@if(config.getString("deployment.acceptance") == "true") {background-acceptance}'>
		<div class="logo">
			<a href='@clientConfig().getString("url")'>
				<img src='@routes.Assets.at(clientConfig().getString("logo"))' alt="Responsive image"></img>
			</a>
		</div>

		<div class="titlebar">
			<h1 class="header">@title</h1>
		</div>

		@content

		<div class="version">Download-tool: versie @getClass().getPackage().getImplementationVersion()</div>
		
		@if(displayStatsAnalytics()) {
			<script async src="https://siteimproveanalytics.com/js/siteanalyze_6011273.js"></script>
		}
	</body>
</html>