@(webJarAssets: WebJarAssets)(content: Html)

@import play.mvc.Http

<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html" charset="utf-8">
		<title>Geoportaal Overijssel</title>
		<link href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))' rel="stylesheet">
		<link href='@routes.Assets.at("stylesheets/form.css")' rel="stylesheet">
		@if("1".equals(Http.Context.current().request().getHeader("GeoPublisher-trusted"))) {
			<link href='@routes.Assets.at("stylesheets/form-intern.css")' rel="stylesheet">
		}
	</head>
	<body>
		<div class="logo">
			<a href="http://www.overijssel.nl">
				<img src='@routes.Assets.at("images/logo_overijssel.png")' alt="Responsive image"></img>
			</a>
		</div>

		<div class="titlebar">
			<h1 class="header">Download bestand</h1>
		</div>

		@content

		<div class="version">Download-tool van het Geoportaal van Overijssel, versie @getClass().getPackage().getImplementationVersion()</div>
	</body>
</html>