@(webJarAssets: WebJarAssets)(content: Html)

@config() = @{
	play.Play.application().configuration()
}

@clientConfig() = @{
	play.Play.application().configuration()
		.getConfig(play.Play.application().configuration().getString("download.client"))
}

<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html" charset="utf-8">
		<title>Download bestand</title>
		<link href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))' rel="stylesheet">
		<link href='@routes.Assets.at("stylesheets/form.css")' rel="stylesheet">
		@if("intern".equals(config().getString("download.access"))) {
			<link href='@routes.Assets.at("stylesheets/form-intern.css")' rel="stylesheet">
		}
	</head>
	<body>
		<div class="logo">
			<a href='@clientConfig().getString("url")'>
				<img src='@routes.Assets.at(clientConfig().getString("logo"))' alt="Responsive image"></img>
			</a>
		</div>

		<div class="titlebar">
			<h1 class="header">Download bestand</h1>
		</div>

		@content

		<div class="version">Download-tool: versie @getClass().getPackage().getImplementationVersion()</div>
	</body>
</html>