@(webJarsUtil: org.webjars.play.WebJarsUtil, config: com.typesafe.config.Config)

@clientConfig() = @{
	config.getConfig(config.getString("download.client"))
}

@layout("Download bestand is gestopt", webJarsUtil, config, null) {
	<p class="title">Foutmelding: 404 Niet gevonden</p>
	
	<div class="welcome">
		<p>Het gevraagde bestand kan niet (meer) worden gevonden.</p>
	</div>
	
	<div id="footer">
		@Html(clientConfig().getString("portal.intro"))
		@Html(clientConfig().getString("portal.internal"))
		@Html(clientConfig().getString("suggestions"))
	</div>
}
