@(webJarAssets: WebJarAssets)

@clientConfig() = @{
	play.Play.application().configuration()
		.getConfig(play.Play.application().configuration().getString("download.client"))
}

@layout(webJarAssets) {
	<p class="title">404 Niet gevonden</p>
	
	<div class="welcome">
		<p>Het gevraagde bestand kan niet (meer) worden gevonden.</p>
	</div>
	
	<div id="footer">
		@Html(clientConfig().getString("portal.intro"))
		@Html(clientConfig().getString("portal.internal"))
		@Html(clientConfig().getString("suggestions"))
	</div>
}
