@(webJarAssets: WebJarAssets)(content: Html)

<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html" charset="utf-8">
		<title>Geoportaal Overijssel</title>
		<link href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))' rel="stylesheet">
		<link href='@routes.Assets.at("stylesheets/form.css")' rel="stylesheet">
	</head>
	<body>
		<div class="logo">
			<a href="http://www.overijssel.nl">
				<img src='@routes.Assets.at("images/logo_overijssel.png")' alt="Responsive image"></img>
			</a>
		</div>
		
		<div class="titlebar">
			<h1 class="header">Download bestand</h1>
		</div>
		
		@content

		<div id="footer">
			<p>Dit bestand wordt via het Geoportaal van Overijssel beschikbaar gesteld.</p>
			<p>De gegevens zijn gemaakt voor eigen (intern) gebruik door de provincie Overijssel.</p>
			<p>Zijn er suggesties of vragen, neem dan contact op met
				<a href="mailto:beleidsinformatie@@overijssel.nl">beleidsinformatie@@overijssel.nl</a>
			</p>
		</div>
	</body>
</html>